{:deps
 {org.clojure/clojure                {:mvn/version "1.10.1"}
  org.clojure/clojurescript          {:mvn/version "1.10.597"}
  quil                               {:mvn/version "3.1.0"}
  org.clojure/core.async             {:mvn/version "0.7.559"}
  com.taoensso/timbre                {:mvn/version "4.10.0"}
  reagent                            {:mvn/version "0.9.1"}
  dali                               {:mvn/version "0.7.5"}}

 :paths ["src/clj" "src/cljc" "src/cljs"]

 :aliases
 {:repl
  {:extra-paths ["resources"]
   :extra-deps
   {com.bhauman/rebel-readline       {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "rebel-readline.main"]}

  :fig
  {:extra-paths ["target" "resources"]
   :extra-deps
   {com.bhauman/rebel-readline-cljs  {:mvn/version "RELEASE"}
    com.bhauman/figwheel-main        {:mvn/version "RELEASE"}}}

  :test
  {:extra-paths ["test/clj" "test/cljc"]
   :extra-deps
   {lambdaisland/kaocha              {:mvn/version "RELEASE"}}}}}
