^{:css-dirs ["resources/public/css"]
  :extra-main-files {:worker {:main somerville.visualization.worker
                              :target :webworker}}
  :log-syntax-error-style :concise}
{:main somerville.visualization.core}
