{:definitions
 {
  :p1 [:point  10 -20]
  :px [:point 100 -20]
  :p2 [:point  10 180]
  :l1 [:line  :p1 :p2]
  :lx [:line  :p1 :px]
  :a  [:arc-lines [:circle :p1 50] :lx :l1]
 }
 :renderings
 [
  {:name ""     :type :line  :object :l1 :text-offset [ 10  10]}
  {:name "p"    :type :point :object :p1 :text-offset [ -5 -10]}
  {:name "point at PI/2 200" :type :point :object :p2 :text-offset [ 10  0]}
  {:name "PI/2" :type :arc   :object :a  :text-offset [ 12  10]}
 ]
}
