{:definitions
 {
  :p1 [:point  50  50]
  :p2 [:point 150 100]
  :p3 [:point 100 150]
  :l1 [:line  :p1 :p2]
  :l2 [:line  :p1 :p3]
  :a  [:arc-lines [:circle :p1 50] :l1 :l2]
 }
 :renderings
 [
  {:name ""   :type :line  :object :l1 :text-offset [ 10  10]}
  {:name ""   :type :line  :object :l2 :text-offset [ 10  10]}
  {:name "p1" :type :point :object :p1 :text-offset [-10 -10]}
  {:name "p2" :type :point :object :p2 :text-offset [ 10 -10]}
  {:name "p3" :type :point :object :p3 :text-offset [ 10  10]}
  {:name "a"  :type :arc   :object :a  :text-offset [ 45  60]}
 ]
}
