{
 :name "point-angle"
 :definitions
 {
  :p1 [:point  50  50]
  :p2 [:point 150 100]
  :p3 [:point 100 150]
  :l1 [:line  :p1 :p2]
  :l2 [:line  :p1 :p3]
  :a  [:arc-lines [:circle :p1 50] :l1 :l2]
 }
 :colors {
  :point  [222  60  75]
  :line   [135 245 251]
  :circle [166  99 204]
 }
 :renderings
 [
  {:name ""   :type :line  :object :l1 :text-offset [ 10  10] :color :line}
  {:name ""   :type :line  :object :l2 :text-offset [ 10  10] :color :line}
  {:name "p1" :type :point :object :p1 :text-offset [-10 -10] :color :point}
  {:name "p2" :type :point :object :p2 :text-offset [ 10 -10] :color :point}
  {:name "p3" :type :point :object :p3 :text-offset [ 10  10] :color :point}
  {:name "a"  :type :arc   :object :a  :text-offset [ 45  60] :color :circle}
 ]
}
