{
 :name "point-angle-to-x"
 :definitions
 {
  :p0 [:point   0   0]
  :px [:point 100   0]
  :p  [:point 100 150]
  :l1 [:line  :p0 :px]
  :l2 [:line  :p0 :p]
  :a  [:arc-lines [:circle :p0 50] :l1 :l2]
 }
 :colors {
  :point  [222  60  75]
  :line   [135 245 251]
  :circle [166  99 204]
 }
 :renderings
 [
  {:name ""  :type :line  :object :l2 :text-offset [ 10  10] :color :line}
  {:name "p" :type :point :object :p  :text-offset [ 10  10] :color :point}
  {:name "a" :type :arc   :object :a  :text-offset [ 25  20] :color :circle}
 ]
}
